<div style="text-align: center; color: orange; font-family: 'Shojumaru', cursive" class="background">

  <img src="../images/guessing_game.jpg">

  <h1><b>Welcome To Guessing Game!</b></h1>


  <a href="/level" class="play-button">Let's Play!</a>
</div>
