<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>Guess The Number Sinatra</title>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet'>
    <link href='stylesheets/style.css' type='text/css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Goblin+One|Jaldi|Jomhuria|Luckiest+Guy|Nosifer|Shojumaru&display=swap" rel="stylesheet">

    <style>

    </style>

  </head>
  <body>
    <%= yield %>

  </body>
</html>
