<div style="text-align: center;">
  <p>Choose Your Level Difficulty</p>

  <form class="" action="/new_game" method="post">
    <select name="game_level">
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>
  <input type="submit" value="Submit">
  </form>
</div>
